__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

.env

*.db
*.db-journal
*.db-trace
*.db-wal
*.db-lock
*.db-shm
*.db-trace

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

/tests/__pycache__/
/tests/*.pyc
/tests/*.pyo
/tests/*.pyd
/tests/*.pyw
/tests/*.pyz

/logs/*


/.vscode/